@import '../../style/_varibles';

html,
body {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
}

.wrapper {
    height: 100vh;
    text-align: center;
    .wrapper-grid {
        &__header {
            background-color: rgb(39, 39, 39);
            color: $headerColor;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--logo {
                padding: 20px;
                font-family: "Indie Flower", cursive;
                font-weight: 700;
                font-size: 2.2em;
            }
            &--login {
                display: flex;
                &__input {
                    background-color: #ffffff;
                    width: 250px;
                }
                &__button {
                    margin-left: 1%;
                    color: #fff;
                }
                margin-right: 2%;
            }
        }
        &__nav{
            background-color: rgba(240, 240, 240, 0.705);
            height: 60px;
            display: flex;
            align-items: center;
            border-bottom: 2px solid grey;
            justify-content: space-between;
            &--left-side {
                width: 100%;
                display: flex;
                align-items: center;
                &__icon,
                &__button {
                    padding: 10px;
                }
                button {
                    &__div {
                        margin-left: 6px;
                    }
                }
                &__icon{
                    .menu-icon{
                        font-size: 1.3em;
                        color: $headerColor;
                    }
                }
            }
        }
        &__main{
            &--drawer,
            &--content{
                height: calc(100vh - 120px);
                width: calc(100%-2px);
            }

            &--drawer{
                border-right: 2px solid grey;
                background-color: rgba(240, 240, 240, 0.705);
                .MuiListItemIcon-root {
                    margin-left: 2%;
                }
                &__tab.current-tab{
                    color: $headerColor;
                }
            }
            &--content section{
                width: 100%;
            }
        }
    }
}


@media only screen and (max-width: $smallScreen) {
    .wrapper {
        .wrapper-grid {
            &__header {
                &--logo {
                    padding: 10px;
                    font-size: 1.2em;
                }
                &--login {
                    display: flex;
                    &__input {
                        width: 200px;
                    }
                }           
            }        
        }
    }
}
