@import '../../style/_varibles';

.index-page{
    font-family: "Indie Flower", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $heightWithoutHeader;
    &__text{
        h1{
            font-size: 35px;
        }
        h3{
            font-size: 28px;
        }
    }
    &__icon{
        color:$headerColor;
        font-size: 13em!important;   
    }
}


@media only screen and (max-width: $smallScreen) {
    .index-page{
        display: block;
        margin-top: 30%;
        &__text{
            h1{
                font-size: 18px;
            }
            h3{
                font-size: 15px;
            }
        }
    }   
}